/*Reglas globales*/

*{
    margin: 0px;
}

.container{
    width: 1000px;
    height: inherit;
    background-color: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    margin: 0 auto;
    flex-direction: inherit;
    flex-wrap: inherit;
}

/*Reglas que aplican al header*/

header{
    height: 70px;
    background-color: #11242E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 40px 40px 40px #ffffff;
}

.menu ul{
    display:flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.link{
    margin: 0px 20px;
}

.link a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.link-b{
    border: 1px solid #ffffff;
    padding: 5px 30px;
    border-radius: 2px;
}

/*Reglas que aplican al hero*/

.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F262A;
    height: 297px;
}

h1{
    color: #ffffff;
    font-family: 'Fjalla One', sans-serif;
    line-height: 40px;
    letter-spacing: -0.2px;
    font-weight: 500;
    font-size: 40px;
}

h1 strong{
    color: #0868F9;
}

.hero-image{
    object-fit: cover;
    width: 514px;
    height: 300px;
}